@fontface{
	font-family:Regencielight;
	src:url(RegencieLight.ttf);
	src:  local("RegencieLight"),
	url('../fonts/RegencieLight.ttf') format('truetype'); 
}
$font-color:#fff; 
$landing-font:'RegencieLight', sans-serif; 
