@import "design"; 

.landing {
	background-image:url("../images/overview_hero_bg.jpg"); 
	height:600px; 
	background-repeat:no-repeat;
	background-size:cover; 

	img{
		margin:0 auto; 


	}

	h1{
		color: $font-color; 
		text-align:  center; 
		font-family: $landing-font; 
	}

	.landing-text{
		font-size:36px; 
		text-align:  center; 

	}

	.Second-Header{
		color:#000; 
		font-size:30px; 

	}

	.Third-Header{
		color:#999; 
		font-size:30px;  

	}

	p{
		text-align:center; 
		color: $font-color; 
		font-family: $landing-font; 
	}
}

.second-row {
	p {
		margin:
		

	}

	.landing2{
		@extend .landing; 
		background-image:
	}

}