.box {
	background-color: yellow;
	border: 10px dotted black;
	border-radius: 100%;
	height: 50px;
	left: 50%;
	padding: 20px;
	position: absolute;
	top: 5%;
	width:50px;
}

body .ancestor {
	position: relative;
}

.ancestor {
	background: url(http://images7.alphacoders.com/407/407975.jpg);
	background-size: cover;
	height: 300px;
	position: relative;
	position: static;
}

span {
	background: red;
}

.button {
	background: green;
	display: inline-block;
	line-height: 50px;
}

.blue.button {
	background: blue;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 700px;
}

